.App {
  background: lightgray;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  background: transparent;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 500px;
}

.list_item {
  border: 1px solid black;
  padding: 5px 10px;

  transition: all 200ms;
}

.placeholder {
  height: 30px;
}

.over {
  transform: scale(1.1, 1.1);
  user-select: none;
  touch-action: none;
}